<%= form_with(model: @task, local:true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :"タスク名" %><br>
  <%= form.text_field :name %><br>

  <%= form.label :"詳細" %><br>
  <%= form.text_area :detail %><br>

  <%= form.label :"終了期限" %><br>
  <%= form.date_field :expired_at %><br> 
  
  <%= form.label :"ステータス" %><br>
  <%= form.select :status, ["未着手","着手中","完了"], include_blank: "選択して下さい" %><br>

  <%= form.label :"優先度" %><br>
  <%= form.select :priority, ["高","中","低"], include_blank: "選択して下さい" %><br>

  <%= form.submit '登録する' %><br>

<% end %>

<%= link_to'タスク一覧', tasks_path %>