<h2>詳細</h2>
<p>
  <strong>名前:</strong><%= @user.name %>
</p>
<p>
  <strong>メールアドレス:</strong><%= @user.email %>
</p>
<p>
  <strong>管理者権限:</strong><%= @user.admin? ? 'あり': 'なし' %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:name) %></th>
      <th><%= Task.human_attribute_name(:detail) %></th>
      <th><%= Task.human_attribute_name(:expired_at) %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th><%= Task.human_attribute_name(:priority) %></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.expired_at %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "管理一覧へ戻る",admin_users_path %>